.userContainer {
  /* height: 100px;
  width: 250px; */
  display: flex;
  flex-direction: column;
  margin: 1em 15px;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid rgb(82, 82, 82);
}
.user {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  /* justify-content: center; */
}
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  cursor: pointer;
}
.userDetailsUsername {
  font-weight: 300;
  font-size: 14px;
}
.userDetailsUsername:hover {
  text-decoration: underline;
  cursor: pointer;
}
.userDetailsName:hover {
  text-decoration: underline;
  cursor: pointer;
}
.requestButtonContainer {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
}
.requestAcceptButton {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  width: 20%;
  border-radius: 5px;
  background-size: 200% auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px #eee;

  font-size: 16px;
  font-weight: 600;
  color: white;

  background-image: linear-gradient(to right, #662d8c, #ed1e79);
}
.requestAcceptButton:hover {
  background-position: right center;
}
.requestAcceptButton:disabled {
  cursor: not-allowed;
}
.disabledButton:disabled {
  background: rgb(202, 202, 202);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #eee;
  padding: 10px 10px;
  cursor: not-allowed;
}
.requestRejectButton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  width: 20%;
  justify-content: center;
  border-radius: 5px;
  background-size: 200% auto;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px #eee;

  font-size: 16px;
  font-weight: 600;
  color: white;

  background-image: linear-gradient(to right, #662d8c, #ed1e79);
}
.requestRejectButton:hover {
  background-position: right center;
}
.requestRejectButton:disabled {
  cursor: not-allowed;
}
