.showLikersModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.showLikersModal {
  position: fixed;
  width: 45vw;
  height: 50vh;
  border-radius: 10px;
  overflow-x: hidden;
  top: 25%;
  left: 25%;
  background-color: white;
  z-index: 1000;
}

.likersWrapper::-webkit-scrollbar-thumb {
  /* background-color: red; */
  border: 4px solid transparent;
  border-radius: 15px;
  background-clip: padding-box;
}
.likersWrapper::-webkit-scrollbar {
  width: 16px;
}
.likersWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.showLikersOuterContainer {
  width: 100%;
  height: 100%;
}
.likeDetails {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  top: 0;
  position: sticky;
}
.showLikersContainer {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 12px;
}
.showLikersContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  cursor: pointer;
}
.likeImageContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.likeImage {
  width: 28px;
  height: 28px;
  padding-right: 10px;
}
.likeDetailsContainer {
  width: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noLikers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  cursor: pointer;
  border: none;
  transition: 0.5s;
  border-radius: 5px;
  width: 15%;
  background-size: 200% auto;
  padding: 8px 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px #eee;

  font-size: 16px;
  font-weight: 600;
  color: white;

  background-image: linear-gradient(to right, #662d8c, #ed1e79);
}
.closeButton:hover {
  background-position: right center;
}
